* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dot,
.start,
.end {
  width: 28px;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.start {
  background-image: url("./mouse.png");
  background-position: center;
  background-size: contain;
}

.end {
  background: linear-gradient(
    rgb(242, 127, 127),
    rgb(230, 123, 123),
    rgb(236, 87, 87)
  );
}

.field {
  width: 800px;
}

.box,
.box-ai {
  position: absolute;
  top: 10%;
  left: 10%;
}
.box-ai {
  left: 80%;
  top: 10%;
}
.box select,
.box-ai select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}
