* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barriecito", cursive;
}

.kontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c356a;
  min-width: 100%;
  min-height: 100vh;
}
.field {
  margin: 20px;
}
.dot,
.start,
.end,
.footPrints,
.footPrintsAi {
  width: 16px;
  height: 100%;
  display: inline-block;
  text-align: center;
}

.start {
  background-image: url("./mouse.png");
  background-position: center;
  background-size: contain;
}

.end {
  background: url("./cheese.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #0c356a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.difficulty {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.difficulty button {
  color: #d5ffd0;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  background: #279eff;
  border-radius: 60px;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 8rem;
  color: #40f8ff;
}

.box select,
.box-ai select {
  background-color: #0563af;
  color: #d5ffd0;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}

.textYM {
  font-size: 30px;
  color: #d5ffd0;
}
.information {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 20%;
  left: 10%;
}

.box-ai {
  width: 200px;
  padding: 10px;
  background-color: #0c356a;
  box-shadow: 1px 1px 1px 1px #d5ffd0;
  color: #d5ffd0;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.showBestPath {
  top: 22%;
}

.footPrints {
  background: url("./footprints.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footPrintsAi {
  background: url("./footprintsAi.png");

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gameFinished {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 470px;
  height: 470px;
  background-color: #279eff;
  color: #d5ffd0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameFinished button {
  width: 80%;
  background: #0c356a;
  font-size: 25px;
}

.Toggle {
  display: flex;
  width: 40%;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17%;
  flex-direction: column;
  justify-content: space-around;
  right: 4%;
}
.toggler {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 40px !important;
}
@media screen and (max-width: 1000px) {
  .field {
    margin-top: 150px;
  }

  .toggler {
    display: inline;
  }
  .Toggle {
    display: none;
  }

  .information {
    padding: 5px;
    position: absolute;
    width: 40%;
    top: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .textYM {
    font-size: 20px;
  }
  .box-ai {
    top: 0;
  }
  .showBestPath {
    top: 10%;
  }
}
